#rooms_booking_button.fixed {
  position: fixed;
  bottom: 1em;
  z-index: 1;
}
.rooms-current-search__info.fixed {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
  margin: 0em;
  padding: 1em;
}